--allow-external PIL
--allow-unverified PIL
unittest2
ply
coverage
coveralls
-e git+http://github.com/nucleic/enaml.git#egg=enaml
-e git+http://github.com/nucleic/atom.git#egg=atom
-e git+http://github.com/nucleic/kiwisolver.git#egg=kiwisolver
-e git+http://github.com/enthought/traits.git#egg=traits
-e git+http://github.com/enthought/enable.git#egg=enable
-e git+http://github.com/enthought/traitsui.git#egg=traitsui
-e git+http://github.com/enthought/mayavi.git#egg=mayavi
