--allow-external PIL
--allow-unverified PIL
unittest2
ply
coverage
git+http://github.com/nucleic/enaml.git#egg=enaml
git+http://github.com/nucleic/atom.git#egg=atom
git+http://github.com/nucleic/kiwi.git#egg=kiwisolver
git+http://github.com/enthought/traits.git#egg=traits
git+http://github.com/enthought/traitsui.git#egg=traitsui
git+http://github.com/enthought/enable.git#egg=enable
git+http://github.com/enthought/mayavi.git#egg=mayavi
